$color-background: #222222;
$color-title-form: #444444;
$color-card: #303030;
$color-button-save: #375A7F;
$color-button-save-hover: #2B4764;
$color-delete: #E74C3C;
$color-button-delete-hover: #E12E1C;
$color-latter: white;
$task-subtitle: #858585;
$alert-warning: #F5BA2D;
$alert-info: #5BC0DE;
$alert-success: #00BC8C;
$btn-update: #E8A949;
$btn-update-hover: #D89631;